@import "tailwindcss";
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

header {
  @apply !flex !flex-col sm:!flex-row !min-h-20;
}

.header-links {
  @apply hover:text-secondary dark:hover:text-primary-400 hover:opacity-100;
}

.title-color {
  @apply bg-gradient-to-b dark:from-[#5EA2EF] from-[#FF1CF7] dark:to-[#0072F5] to-[#b249f8] text-transparent bg-clip-text;
}
